In [2]:
import matplotlib.pyplot as plt
import pandas as pd


olympics_data = "Resources/dropped_nulls_sorted.csv"

df = pd.read_csv(olympics_data)

In [3]:
df.head(10)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,98484,Jzef Rajnisz,M,28.0,166.0,67.0,Poland,POL,1960 Summer,1960,Summer,Roma,Gymnastics,Gymnastics Men's Parallel Bars,DNM
1,24720,Manoel Pereira da Silva,M,41.0,165.0,71.0,Portugal,POR,1960 Summer,1960,Summer,Roma,Shooting,"Shooting Men's Small-Bore Rifle, Three Positio...",DNM
2,7915,Bernd Barleben,M,20.0,183.0,79.0,Germany,GER,1960 Summer,1960,Summer,Roma,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",Silver
3,7916,Harald Barlie,M,23.0,178.0,83.0,Norway,NOR,1960 Summer,1960,Summer,Roma,Wrestling,"Wrestling Men's Welterweight, Greco-Roman",DNM
4,7917,Oddvar Barlie,M,31.0,176.0,79.0,Norway,NOR,1960 Summer,1960,Summer,Roma,Wrestling,"Wrestling Men's Middleweight, Greco-Roman",DNM
5,41338,Rubn Daro Gmez Bodoya,M,20.0,160.0,57.0,Colombia,COL,1960 Summer,1960,Summer,Roma,Cycling,"Cycling Men's Road Race, Individual",DNM
6,41338,Rubn Daro Gmez Bodoya,M,20.0,160.0,57.0,Colombia,COL,1960 Summer,1960,Summer,Roma,Cycling,Cycling Men's 100 kilometres Team Time Trial,DNM
7,70116,Kurt Evald Rolf Lindeman,M,28.0,177.0,61.0,Finland,FIN,1960 Summer,1960,Summer,Roma,Modern Pentathlon,Modern Pentathlon Men's Individual,DNM
8,70116,Kurt Evald Rolf Lindeman,M,28.0,177.0,61.0,Finland,FIN,1960 Summer,1960,Summer,Roma,Modern Pentathlon,Modern Pentathlon Men's Team,DNM
9,70116,Kurt Evald Rolf Lindeman,M,28.0,177.0,61.0,Finland,FIN,1960 Summer,1960,Summer,Roma,Fencing,"Fencing Men's epee, Team",DNM

In [4]:
selected_columns = ['Height', 'Weight', 'Sport']

height_weight_df = df[selected_columns]

height_weight_df.head(20)

    Height  Weight              Sport
0    166.0    67.0         Gymnastics
1    165.0    71.0           Shooting
2    183.0    79.0            Cycling
3    178.0    83.0          Wrestling
4    176.0    79.0          Wrestling
5    160.0    57.0            Cycling
6    160.0    57.0            Cycling
7    177.0    61.0  Modern Pentathlon
8    177.0    61.0  Modern Pentathlon
9    177.0    61.0            Fencing
10   184.0    76.0             Rowing
11   179.0    70.0          Athletics
12   177.0    69.0            Cycling
13   177.0    69.0            Cycling
14   159.0    55.0           Swimming
15   159.0    55.0           Swimming
16   159.0    55.0           Swimming
17   170.0    69.0           Football
18   184.0    83.0             Rowing
19   176.0    74.0             Hockey

In [5]:
# exploring statistical correlation
correlation = height_weight_df[['Height', 'Weight']].corr()
print(correlation)

         Height   Weight
Height  1.00000  0.79877
Weight  0.79877  1.00000

In [15]:
# exploring calculating BMI to find relationship between sports and height/weight

def calculate_bmi(height_weight_df):
    weight = height_weight_df['Weight']
    height = height_weight_df['Height']
    return weight/(height * height)

bmi_df = height_weight_df.apply(calculate_bmi, axis=1)

In [18]:
# make a new dataframe

selected_columns = ['Height', 'Weight', 'Sport']
height_weight_df = df[selected_columns]

merged_df = pd.concat([height_weight_df, new_df], axis=1)

merged_df.head(20)

    Height  Weight              Sport         0
0    166.0    67.0         Gymnastics  0.002431
1    165.0    71.0           Shooting  0.002608
2    183.0    79.0            Cycling  0.002359
3    178.0    83.0          Wrestling  0.002620
4    176.0    79.0          Wrestling  0.002550
5    160.0    57.0            Cycling  0.002227
6    160.0    57.0            Cycling  0.002227
7    177.0    61.0  Modern Pentathlon  0.001947
8    177.0    61.0  Modern Pentathlon  0.001947
9    177.0    61.0            Fencing  0.001947
10   184.0    76.0             Rowing  0.002245
11   179.0    70.0          Athletics  0.002185
12   177.0    69.0            Cycling  0.002202
13   177.0    69.0            Cycling  0.002202
14   159.0    55.0           Swimming  0.002176
15   159.0    55.0           Swimming  0.002176
16   159.0    55.0           Swimming  0.002176
17   170.0    69.0           Football  0.002388
18   184.0    83.0             Rowing  0.002452
19   176.0    74.0             Hockey  0.002389

In [1]:
# name series

new_df.name = 'BMI'

merged_df = pd.merge(new_df,height_weight_df, on ='A', how = 'inner')

print(merged_df)

NameError: name 'new_df' is not defined

In [ ]:
plt.figure(figsize=(10,6))

In [16]:
df['Sport'] = pd.to_numeric(df['Column_Name'], errors='coerce')

In [17]:
# Convert the 'sport' column from a string to a float
df['Sport'] = df['Sport'].astype(float)

In [19]:
# Selecting the columns representing height and weight
height_sport_corr = df['Height'].corr(df['Sport'])
weight_sport_corr = df ['Weight'].corr(df['Sport'])

print(f"Correlation between Height and Outcome: {height_sport_corr}")
print(f"Correlation between Weight and Outcome: {weight_sport_corr}")

Correlation between Height and Outcome: nan
Correlation between Weight and Outcome: nan